class Main {
	public static void main(String[] args) {
		System.out.println(sumDigits(256));
	}

	public static int sumDigits(int number) {
		int sum = 0;
		int num = number;
		if (number >=10) {
			while(num > 0) {
				sum += num % 10;
				num = num / 10;
			}
		}
		else if (number < 10) {
			return -1;
		}
		return sum;
	}
}
